@model EatWithChef.Areas.Admin.Models.SupplierModel
<div class="col-md-5 img-modal">
</div>
<div class="col-md-7" style="width: 95%; float: right">
    <div class="form-group">
        <label>Tên</label>
        <input id="Updatename" onblur="validateName(@Model.Supplier.Id,'Updatename')" class="form-control" value="@Model.Supplier.Name" style="display: inline; margin-left: 60px; width: 70%"; placeholder="Name" onfocus="changeStatusTextBox('Updatename')" />
        <p class="alert-danger" style="margin-top:3px; width:180px; margin-left:91px; visibility:hidden">Tên này đã tồn tại!</p>
    </div>
    <div class="form-group">
        <label>Danh mục</label>
        <select id="UpdateCategory" name="Category" style="display: inline; margin-left: 16px; width: auto" class="form-control xsmall">
            @foreach (var item in Model.ListSupCategory)
            {
                if (item.Id == @Model.Supplier.SupplierCategory)
                {
                    <option value="@item.Id" selected>@item.Name</option>
                }
                else
                {
                    <option value="@item.Id">@item.Name</option>   
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label>Điện thoại</label>
        <input id="UpdatePhone" value="@Model.Supplier.Phone" onblur="validatePhone('UpdatePhone')" style="display: inline; margin-left: 15px; width: 70%" class="form-control" placeholder="Phone" onfocus="changeStatusTextBox('UpdatePhone')" />
        <p class="alert-danger" style="margin-left:91px; margin-top:3px; width:180px; visibility:hidden">Số điện thoại không hợp lệ!</p>
    </div>
    <div>
        <label>Address</label>
        <input id="UpdateAddress" value="@Model.Supplier.Address" style="margin-left:32px; display:inline; width: 70%" class="form-control" type="text"
                                placeholder="Enter Address" onfocus="changeStatusTextBox('UpdateAddress')" />
        <p class="alert-danger" style="margin-left:91px;margin-bottom:3px; margin-top:3px; width:180px; visibility:hidden">Địa chỉ không đúng!</p>
        <input id="InputUpdateAddress" value="@Model.Supplier.Address" type="hidden" />    
        <input id="Updatelat" value="@Model.Supplier.Latitude"" class="controls" type="hidden" />
        <input id="Updatelong" value="@Model.Supplier.Longitude" class="controls" type="hidden" />
        <input id="InputUpdatelat"  class="controls" type="hidden" />
        <input id="InputUpdatelong"  class="controls" type="hidden" />
        <div style="width: 86%; height: 260px; border-radius: 0; margin-top: 5px; border: #eee 5px solid" id="map-update">&nbsp;</div>
    </div>
    <div class="pull-right">
        @if (Model.Supplier.IsAvailable)
        {
            <button class="btn btn-primary" type="button" onclick="Update(@Model.Supplier.Id)">Lưu</button>
        }else{
            <button class="btn btn-primary" data-dismiss="modal" type="button">Đóng</button>
        }
    </div>
</div>
